body {
  background-color: #F4D04E;
}

.learning-card {
  width: 360px;
  height: 498px;
  background-color: #FFFFFF;
  margin: 20vh 40vw 20vh 40vw;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #111111;
  padding: 24px;
  font-family: "Figtree", sans-serif;
}

.illustration {
  width: 360px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 22px;
}

.learning-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 29px;
  background-color: #F4D04E;
  border-radius: 5px;
  margin-bottom: 12px;
}

.learning-tab p {
  font-weight: bold;
}

.learning-card h2:hover {
  color: #F4D04E;
}

.learning-card p, h2 {
  margin-bottom: 12px;
}

.learning-card p {
  font-size: 16px;
}

.greg-cont {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.Greg {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.greg-cont p {
  font-weight: bold;
}